@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="checkbox"]:focus {
    outline: none;
}

.flash-message {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-timing-function: ease;
}

@keyframes fadeIn {
    0% {
        transform: translateX(-40%);
    }

    100% {
        transform: translateX(0);
    }
}

.search-icon {
    background: url("../images/search-icon.png") no-repeat scroll 7px 7px;
    padding-left:2.5rem;
}
